<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>Matcha</title>
		<link href = "{{ url_for('static', filename = 'css/style.css')}}" rel = "stylesheet">
	</head>
	<body>
	<div id="logo"><img class = "center" src="{{url_for('static', filename='matcha-logo.png')}}" alt="" width="15" height="auto"></div>
		<div class = "login-box">
			{% if error == -1 %}
				An E-Mail has been sent for verification
			{% endif %}
			<div class = "left-box">
				<h5>Sign Up</h5>
				<form action="{{ url_for('signup') }}" method="post">
					{% if error == 1 %}
						Passwords do not match
					{% endif %}
					{% if error == 4 %}
						Password does not match requirements
					{% endif %}
					{% if error == 5 %}
						Invalid E-Mail address
					{% endif %}
					{% if error == 6 %}
						E-Mail address already taken
					{% endif %}
					{% if error == 7 %}
						Username already taken
					{% endif %}
					{% if error == 8 %}
						You are too young to use this app
					{% endif %}
					{% if error == 9 %}
						Please enter a valid date of birth
					{% endif %}
					<input type="text" name="name" placeholder="Name"/>
					<input type="text" name="surname" placeholder="Surname"/>
					<input type="text" name="username" placeholder="Username"/>
					<input type = "text" name = "email" placeholder = "Email"/>
					<input type="text" name="bday" placeholder="Date of Birth: yyyy/mm/dd">
					<input type = "password" name = "password" placeholder = "Password"
					pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
					title="Must contain at least one number,one uppercase, one lowercase letter, one special character and at least 8 or more characters" required/>
					<input type = "password" name = "passwordrepeat" placeholder = "Retype Password"/>
					<br>
					<input type="submit" class="btn btn-dark" value="Sign Up"/>
				</form>
				<p>Forgot password? Click <a href="/reset_password">here</a></p>
			</div>
			<div class = "right-box">
			<form action="{{ url_for('login') }}" method="post">
				<span class = "login"><h5>Log In</h5><br></span>
					{% if verified == 1 %}
						Thank you for verifying your account!
					{% endif %}
					{% if error == 8 %}
						Please verify your account via E-Mail
					{% endif %}
					{% if error == 2 %}
						Username / Password combination incorrect
					{% elif error == 3 %}
						Username / Password combination incorrect
					{% endif %}
					<input type = "text" name = "username" placeholder = "Username"/>
					<input type = "password" name = "password" placeholder = "Password"/>
					<br>
					<input type="submit" class="btn btn-dark" value="Log In"/><br>
					<br>
				</form>
			</div>
			<div class = "or"> OR </div>
		</div>
	</body>
	</html>