{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}

{% endblock %}
{% block header %}
<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<div id="logo"><img class = "center" src="{{url_for('static', filename='matcha-logo.png')}}" alt="" width="150" height="auto"></div>
</head>
​
<body>
​
<h1>Tell us about yourself!</h1>
<form action=" {{ url_for('preferences_handler') }}" method = "POST" enctype="multipart/form-data">
Name: <input name="name" type="text" required> Surname: <input name="surname" type="text" required>
<p>Gender:</p>
<input type="radio" name="gender" value="male" checked="checked">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other<br>
Postal Code: <br><input name="postal code" type="text">
<p>Sexual Preference:</p>
<input type="radio" name="sexual" value="homosexual">Homosexual
<input type="radio" name="sexual" value="heterosexual">Heterosexual
<input type="radio" name="sexual" value="bisexual" checked="checked">Bisexual
<p>Bio:</p>
<textarea name="bio" placeholder="Tell us more..." me="message" style="width:250px; height:150px;"></textarea>
<h2>Interests</h2>
<h3>Do you like animals?</h3>
<input type="radio" name="animals" value="yes">Yes
<input type="radio" name="animals" checked="checked" value="no">No
<h3>Do you like music?</h3>
<input type="radio" name="music" value="yes">Yes
<input type="radio" name="music" checked="checked" value="no">No
<h3>Do you like movies?</h3>
<input type="radio" name="movies" value="yes">Yes
<input type="radio" name="movies" checked="checked" value="no">No
<h3>Do you like sports</h3>
<input type="radio" name="sports" value="yes">Yes
<input type="radio" name="sports" checked="checked" value="no">No
<h3>Do you like food?</h3>
<input type="radio" name="food" value="yes">Yes
<input type="radio" name="food" checked="checked" value="no">No
<br>
<br>Select images: <input type="file" name="img" multiple>
<div class="location"></div>
    <script>
	$.ajax({
		url: "https://geolocation-db.com/jsonp",
		jsonpCallback: "callback",
		dataType: "jsonp",
		success: function( location ) {
			$('.location').html(`<input type="hidden" name="location" value="${location.city}">`);
		}
	});		
    </script>
<br/><input type="submit" name = "pref" value = "Submit"/>
</form><br/>
</body>
</html>
{% endblock %}