<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset password</title>
	<link href = "{{ url_for('static', filename = 'css/style.css')}}" rel = "stylesheet">
</head>
<body>
	<label>Please give the email you used when you created you account</label>
	<form action="" method="POST">
		<label>Email</label>
		{% if err == 2 %}
			This field cannot be blank
		{% endif %}
		{% if err == 1 %}
			Invaild email
		{% endif %}
		{% if err == 0 %}
			An email with a reset link has been sent to you
		{% endif %}

		<input type="email" name="email" id="email" placeholder="Email">
		<br>
		<input type="submit" value="Reset">
		<br>
	</form>
</body>
</html>